{% extends 'www/main.html' %}
{% block CONTENT %}
    {% include 'www/include/form.html' %}
    <hr>
    {% if results %}
        <h2>Search Results</h2>
        {% for result in results %}
            <h4><a href="{{ result.url }}">{{ result.title }}</a></h4>
            <div style="padding-left: 30px">
                <em>{{ result.description }}</em><br>
                <strong>{{ result.module }}: <a class="text-success" href="{{ result.url }}">
                    {{ BASE_URL }}{{ result.url }}</a></strong><br><br>
            </div>
        {% endfor %}
    {% else %}
        <h2>No results found.</h2>
    {% endif %}
{% endblock %}