{% extends 'www/main.html' %}
{% block CONTENT %}
    <h1>Virtual Routing and Forwarding Tables</h1>
    <a href="{% url 'ipam.vrf_add' %}" class="btn btn-default btn-sm"><i class="fa fa-cloud"></i>Create VRF</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>RD</th>
            <th>Description</th>
            <th>Parent</th>
            <th>Prefixes</th>
            <th>Hosts</th>
        </tr>
        </thead>
        <tbody>
        {% for vrf in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ vrf.get_absolute_url }}">{{ vrf.name}}</a></td>
                <td>{{ vrf.rd }}</td>
                <td>{{ vrf.description|default:"&mdash;" }}</td>
                <td>{% if vrf.parent %}<a href="{{ vrf.parent.get_absolute_url }}">{{ vrf.parent.name }}</a>{% endif %}</td>
                <td>{{ vrf.networks.count|default:"&mdash;" }}</td>
                <td>{{ vrf.hosts.count|default:"&mdash;" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}