<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        i.fa {
            margin-right: 10px;
        }
    </style>

</head>
<body>
<div class="container-fluid">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">NOC Lite</a>

                <p class="navbar-text">Network Operations Center Lite</p>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">


                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/sign-in/">
                            <i class="fa fa-sign-in"></i>Sign-in
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-2">
                <div class="list-group">
                    <a href="#" class="list-group-item">Create...</a>
                    <a href="#" class="list-group-item">Delete...</a>
                </div>
            </div>
            <div class="col-lg-10">
                test
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <hr>
                <p class="text-center">
                    <small>&copy; 2014 - Network Operations Center Lite<br/><a
                            href="mailto:kostya.vinogradov@gmail.com">kostya.vinogradov@gmail.com</a></small>
                </p>
            </div>
        </div>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>